@font-face {
    font-family: 'GT Eesti Pro Display';
    src: local('GT Eesti Pro Display Bold'), local('GTEestiProDisplay-Bold'),
    url('../fonts/GTEestiProDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GT Eesti Pro Display';
    src: local('GT Eesti Pro Display Regular'), local('GTEestiProDisplay-Regular'),
    url('../fonts/GTEestiProDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}