/*

    Используемые цвета:

    Фон - Белый: #FFFFFF
    Текст, контуры - Чёрный: #000000
    Круг - Серый1: #EEF3F6
    Кнопки - Серый2:  #DEE6EF
    Круг - Синий: #0B5DFF
 */

html{
    font-family: 'GT Eesti Pro Display', serif;
    font-weight: normal;
    color: #000000;
    background-color: #FFFFFF;
}

header{
    margin-bottom: 75px;
}

.buttons div{
    margin: 0 auto 10px auto;
}

label {
    padding-left: 15px;
}

.progress_block{
    margin: 0 auto;
}


@media screen and (orientation: portrait) {
    .progress_ring{
        width: 125px;
        margin: 0 auto;
    }

    .buttons{
        width: 125px;
        margin: 75px auto 0 auto;
    }
}

@media screen and (orientation: landscape) {

    .progress_block{
        margin: 0 auto;
        height: 125px;
        width: 350px;

    }

    .buttons{
        display: inline-block;
        margin: auto 0 auto 40px;
        float: right;
        overflow: hidden;
    }

    .progress_ring{
        margin: auto 40px auto 0;
        display: inline-block;
        float: left;
        overflow: hidden;
    }
}
