/*

    Используемые цвета:

    Фон - Белый: #FFFFFF
    Текст, контуры - Чёрный: #000000
    Круг - Серый1: #EEF3F6
    Кнопки - Серый2:  #DEE6EF
    Круг - Синий: #0B5DFF
 */

@font-face {
    font-family: 'GT Eesti Pro Display';
    src: local('GT Eesti Pro Display Bold'), local('GTEestiProDisplay-Bold'),
    url('../fonts/GTEestiProDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GT Eesti Pro Display';
    src: local('GT Eesti Pro Display Regular'), local('GTEestiProDisplay-Regular'),
    url('../fonts/GTEestiProDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html{
    font-family: 'GT Eesti Pro Display', serif;
    font-weight: normal;
    color: #000000;

    background-color: #FFFFFF;


}

header{
    margin-bottom: 75px;
}

.progress_block{
    width: 100%;
}

.progress_ring{
    width: 120px;
    margin: 0 auto 100px auto;
}

.buttons div{
    width: 120px;
    margin: 10px auto;
}

label {
    padding-left: 15px;
}
