/*

    Используемые цвета:

    Фон - Белый: #FFFFFF
    Текст, контуры - Чёрный: #000000
    Круг - Серый1: #EEF3F6
    Кнопки - Серый2:  #DEE6EF
    Круг - Синий: #0B5DFF

 */

html{
    font-family: 'GT Eesti Pro Display', serif;
    font-weight: normal;
    color: #000000;
    background-color: #FFFFFF;
}

.buttons div{
    margin: 0 auto 10px auto;
}

label {
    padding-left: 15px;
}

.progress_block{
    margin: 0 auto;
}

.features{
    cursor: pointer;
    color: #06CA99;
}


@media screen and (orientation: portrait) {

    header{
        margin-bottom: 55px;
    }

    .progress_ring{
        width: 125px;
        margin: 0 auto;
    }

    .buttons{
        width: 170px;
        margin: 75px auto 0 auto;

    }
}

@media screen and (orientation: landscape) {

    header{
        margin-bottom: 25px;
    }

    .progress_block{
        margin: 0 auto;
        height: 200px;
        width: 350px;
    }

    .buttons{
        width: 170px;
        display: inline-block;
        float: right;
    }

    .progress_ring{
        display: inline-block;
        float: left;
    }
}