input.value_block_percent, input.duration_block_value, input.color_block_value{

    display: inline-block;
    outline: none;
    width: 60px;
    height: 24px;
    border-radius: 20px;
    border-color: black;
    border-width: 1px;
    background: white;
    text-align: center;

    font-family: "GT Eesti Pro Display", serif;
    font-size: 10px;
}

input[type="number"], input[type="text"] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    display: none;
}
