input.value_block_percent{
    display: inline-block;
    width: 36px;
    height: 24px;
    border-radius: 20px;
    border-color: black;
    border-width: 1px;
    background: white;
    text-align: center;

    font-family: "GT Eesti Pro Display", serif;
    font-size: 15px;

}

input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    display: none;
}